/* Reset */
html {
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeSpeed;
  width: 100%;
  overflow-x: hidden;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

input, input:required {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-box-shadow: inset 0 0 0 30px #fff;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
  outline: none;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:active, a:hover {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img, picture {
  display: inline-block;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  background: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

input[type=checkbox], input[type=radio] {
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  background: transparent;
  border: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

hr {
  background: #000;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  line-height: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

pre {
  font-family: monospace,monospace;
  font-size: 100%;
}

a {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

small, sub, sup {
  font-size: 75%;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  outline: 0;
  padding: 0;
}

legend {
  border: 0;
  color: inherit;
  display: block;
  max-width: 100%;
  white-space: normal;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

template {
  display: none;
}

/* End Reset */
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Heavy.eot");
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"), url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-UltralightItalic.eot");
  src: local("SF Pro Display UltralightItalic"), local("SFProDisplay-UltralightItalic"), url("../fonts/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff"), url("../fonts/SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-RegularItalic.eot");
  src: local("SF Pro Display Regular Italic"), local("SFProDisplay-RegularItalic"), url("../fonts/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff"), url("../fonts/SFProDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("SFProDisplay-Thin"), url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"), url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-BlackItalic.eot");
  src: local("SF Pro Display Black Italic"), local("SFProDisplay-BlackItalic"), url("../fonts/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff"), url("../fonts/SFProDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"), url("../fonts/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-SemiboldItalic.eot");
  src: local("SF Pro Display SemiboldItalic"), local("SFProDisplay-SemiboldItalic"), url("../fonts/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../fonts/SFProDisplay-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Ultralight.eot");
  src: local("SF Pro Display Ultralight"), local("SFProDisplay-Ultralight"), url("../fonts/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-LightItalic.eot");
  src: local("SF Pro Display LightItalic"), local("SFProDisplay-LightItalic"), url("../fonts/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff"), url("../fonts/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-ThinItalic.eot");
  src: local("SF Pro Display ThinItalic"), local("SFProDisplay-ThinItalic"), url("../fonts/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff"), url("../fonts/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-MediumItalic.eot");
  src: local("SF Pro Display MediumItalic"), local("SFProDisplay-MediumItalic"), url("../fonts/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff"), url("../fonts/SFProDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-HeavyItalic.eot");
  src: local("SF Pro Display HeavyItalic"), local("SFProDisplay-HeavyItalic"), url("../fonts/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff"), url("../fonts/SFProDisplay-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-BoldItalic.eot");
  src: local("SF Pro Display BoldItalic"), local("SFProDisplay-BoldItalic"), url("../fonts/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff"), url("../fonts/SFProDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --white: #fff;
  --bg-menu: #DADBDC;
  --primary: #C49D74;
  --dark: #141414;
  --dark-grey: #6A6A6A;
  --grey: #8B8B8B;
  --green: #81C62D;
  --s-l-grey: #F6F6F6;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.02rem;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu-btn {
  position: absolute;
  display: block;
  z-index: 999;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.btn-close, .btn-open {
  display: none;
}

.filter {
  width: 32%;
  max-width: 411px;
  min-width: 300px;
  background-color: var(--s-l-grey);
  border-radius: 16px;
  overflow: hidden;
}

.filter__item {
  padding: 16px 24px;
}

.filter__item:not(:last-child) {
  border-bottom: 1px solid #cacaca;
}

.filter__item--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.filter__item--open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter__item--content {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1px;
  opacity: 0;
  padding-bottom: 0;
}

.filter__item--brand label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.filter__item--brand label img {
  margin-right: 8px;
}

.filter__item--brand label input {
  margin-right: 12px;
}

.filter__item--brand label:not(:first-child) {
  margin-left: 40px;
  display: none;
}

.filter__item--brand.open > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item.open {
  min-height: 148px;
}

.filter__item.open .filter__item--content {
  opacity: 1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.filter__item.open .filter__item--open {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__clear input {
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
}

.filter__budget {
  position: relative;
}

.filter__budget .rangeValues {
  margin-bottom: 80px;
}

.filter__budget .range-values {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-grey);
}

.filter__budget input[type=range] {
  position: absolute;
  bottom: 23px;
  left: 24px;
  right: 24px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  pointer-events: none;
}

.slider-track {
  height: 6px;
  position: absolute;
  bottom: 23px;
  left: 24px;
  right: 24px;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 6px;
}

input[type=range]::-ms-track {
  appearance: none;
  height: 6px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 4px solid var(--primary);
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  pointer-events: auto;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

input[type="date"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 154px;
}

input[type="date"] span {
  position: absolute;
  left: 0;
}

input[type="time"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #313131;
}

input[type="submit"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 40px;
  color: var(--dark);
  background-color: var(--primary);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 10;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 10;
}

input[type="time"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 76px;
  overflow: hidden;
}

.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 147px;
}

.header__logo a {
  margin-right: auto;
}

.header nav {
  position: relative;
  height: 100%;
  z-index: 99;
}

.header nav::after {
  position: absolute;
  content: '';
  top: 0;
  left: -120px;
  width: 120px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../svg/left-menu.svg);
}

.header nav::before {
  position: absolute;
  content: '';
  top: 0;
  right: -120px;
  width: 120px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../svg/right-menu.svg);
}

.header__menu {
  height: 76px;
  background-color: var(--bg-menu);
  font-size: 14px;
  letter-spacing: -0.04rem;
  color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
  padding: 0 50px;
}

.header__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 147px;
}

.header__sign-up a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--white);
  padding: 8px 16px;
  border: 1px solid var(--white);
  border-radius: 24px;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: auto;
}

.header__sign-up a:hover {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 428px;
  padding-top: 140px;
}

.hero h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(56%, #BFBFBF));
  background-image: linear-gradient(to right, #fff, #BFBFBF 56%);
}

.hero__wrapper {
  margin-top: auto;
}

.hero__form {
  width: 100%;
  padding: 40px;
  border-radius: 32px;
  background-color: rgba(20, 20, 20, 0.8);
  margin-top: 32px;
}

.hero__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

.hero__form--input {
  position: relative;
  display: inline-block;
  line-height: 24px;
}

.hero__form--input label {
  position: absolute;
  left: 52px;
  top: 8px;
  color: var(--grey);
  z-index: 2;
}

.hero__form--input .clear-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
  z-index: 3;
  cursor: pointer;
}

.hero__form--input span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  z-index: 2;
}

.hero__form input {
  position: relative;
  padding: 34px 12px 10px 52px;
  height: 64px;
  border-radius: 16px;
  background-color: #252525;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: var(--white);
  border: none;
}

.hero__form input::-webkit-input-placeholder {
  color: var(--white);
}

.hero__form input:-ms-input-placeholder {
  color: var(--white);
}

.hero__form input::-ms-input-placeholder {
  color: var(--white);
}

.hero__form input::placeholder {
  color: var(--white);
}

.hero__form input#location {
  position: relative;
  width: 100%;
}

.hero__form--location {
  position: relative;
  max-width: 478px;
  min-width: 266px;
  width: 100%;
}

.hero__form--location::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../svg/LocationIcon.svg);
  z-index: 1;
}

.hero__form--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__form--start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  margin-top: 32px;
}

@media (max-width: 1064px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .hero__form {
    padding: 32px;
    margin-top: 20px;
  }
  .hero__form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  input[type="submit"] {
    width: 266px;
  }
}

@media (max-width: 924px) {
  .btn-open {
    display: block;
  }
  .header {
    overflow: visible;
  }
  .header nav::after {
    z-index: -1;
  }
  .header__menu {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 40px 40px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 280px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 998;
  }
  .header__menu.open {
    pointer-events: visible;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */