@import "reset";
@import "fonts";

:root{
    --white: #fff;
    --bg-menu: #DADBDC;
    --primary: #C49D74;
    --dark: #141414;
    --light-dark: #2E2E2E;
    --dark-grey: #6A6A6A;
    --grey: #8B8B8B;
    --green: #81C62D;
    --s-l-grey: #F6F6F6;
}

body {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
}
h1{
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.02rem;
}
h2{
    font-size: 32px;
    font-weight: 600;
}
h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
h4{
    font-size: 18px;
    font-weight: 600;
}
h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
ul{
    color: var(--grey);
    margin-top: 24px;
    font-size: 18px;
    li{
        padding-left: 24px;
        line-height: 140%;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--grey);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:not(:last-child){
            margin-bottom: 24px;
        }
    }
}
select {
    border-color: transparent;
}
.container{
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    main {
        flex-grow: 1;
    }
}
.menu-btn{
    position: absolute;
    display: block;
    z-index: 999;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.btn-close, .btn-open{
    display: none;
}
.main-btn {
    display: block;
    padding: 8px 16px;
    background-color: var(--white);
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
    color: var(--dark);
}
// === сортировка =====
.custom-select {
    font-size: 14px;
    width: 228px;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
  }

  .custom-select svg {
    width: 14px;
    height: 14px;
    fill: #888;
    flex-shrink: 0;
  }

  .custom-select strong {
    font-weight: 600;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 4px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: none;
    flex-direction: column;
  }

  .dropdown.open {
    display: flex;
  }

  .dropdown div {
    padding: 8px 12px;
    cursor: pointer;
  }

  .dropdown div:hover {
    background: #f0f0f0;
  }
// ====================
// === Рейтинг ==
.rating{
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    line-height: 0.75;
    &__body{
        position: relative;
        &::before{
            content: '★★★★★';
            display: block;
            color: var(--white);
        }
    }
    &__active{
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &::before{
            content: '★★★★★';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: var(--primary)
        }
    }
    &__items{
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__item{
        flex: 0 0 20%;
        height: 100%;
        opacity: 0;
    }
}
// === Фильтр ===
.filter {
    background-color: var(--s-l-grey);
    border-radius: 16px;
    overflow: hidden;
    height: max-content;
    position: sticky;
    top: 20px;
    &__item{
        padding: 16px 24px;
        &:not(:last-child){
            border-bottom: 1px solid #cacaca;
        }
        &--title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            h5{
                flex: 1 0 auto;
            }
        }
        &--open{
            transform: rotate(180deg);
        }
        &--content{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 1px;
            opacity: 0;
            padding-bottom: 0;
            pointer-events: none;
        }
        &--brand{
            label{
                display: flex;
                margin-bottom: 12px;
                pointer-events: none;
                img{
                    margin-right: 8px;
                }
                input{
                    margin-right: 12px;
                }
                &:not(:first-child){
                    margin-left: 40px;
                    display: none;
                }

            }
            &.open{
                & > label{
                    display: flex;
                }
            }
        }
        &.open{
            min-height: 148px;
            .filter__item--content{
                opacity: 1;
                height: max-content;
                pointer-events: auto;
            }
            .filter__item--open{
                transform: rotate(0);
            }
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__clear{
        input{
            color: var(--primary);
            font-size: 14px;
            font-weight: 600;
        }
    }
    &__budget{
        position: relative;
        .rangeValues{
            margin-bottom: 80px;
        }
        .range-values{
            font-size: 16px;
            font-weight: 600;
            color: var(--dark-grey);
        }
        input[type=range]{
            position: absolute;
            bottom: 23px;
            left: 24px;
            right: 24px;
        }
    }
}
:is(.open) > * label{
    pointer-events: auto;
}
:is(.open) .filter__item--content{
    margin-top: 16px;
}
input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    height: 6px;
    position: absolute;
    bottom: 23px;
    left: 24px;
    right: 24px;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 6px;
}
input[type=range]::-moz-range-track {
    -moz-appearance: none;
    height: 6px;
}
input[type=range]::-ms-track{
    appearance: none;
    height: 6px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 4px solid var(--primary);
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
    pointer-events: auto;
    transform: translateY(-7px);
}

input[type="date"]{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    max-width: 154px;
    span {
        position: absolute;
        left: 0;
    }
}
input[type="time"]{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #313131 !important;
}
input[type="submit"]{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 40px !important;
    color: var(--dark) !important;
    background-color: var(--primary) !important;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
}

input[type="time"]::-webkit-input-placeholder {
    visibility: hidden !important;
}


input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
}
label:has(input[type=checkbox]){
    position: relative;
    padding-left: 30px;
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
    cursor: pointer;
    span{
        margin-left: auto;
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background-image: url(../svg/сheckbox.svg);
    }
}
label:has(input[type=checkbox]:checked){
    &::before{
        background-image: url(../svg/сheckbox-checked.svg);
    }
}
label:has(input[type=checkbox]:disabled){
    &::before{
        background-image: url(../svg/сheckbox-disabled.svg);
    }
}
label:has(input[type=checkbox]:checked:disabled){
    &::before{
        background-image: url(../svg/сheckbox-checked-disabled.svg);
    }
}
label:has(input[type=checkbox]:focus){
    &::before{
        box-shadow: 0 0 0px 3px var(--primary);
        border-radius: 5px;
    }
}
// =========================================
// === Карточка машины =================
.car-card{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    overflow: hidden;
    &:not(:last-child){
        margin-bottom: 24px;
    }
    &__img{
        width: 264px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--s-l-grey);
    }
    &__info{
        li {
            img {
                margin-right: 8px;
            }
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        &--top{
            display: inline-block;
            span{
                display: block;
                padding: 4px 12px;
                margin-bottom: 12px;
                background-color: var(--dark);
                color: var(--white);
                border-radius: 15px;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                min-width: 95px;
                width: max-content;
            }
            span.open-info{
                display: none;
                position: relative;
                background-color: var(--bg-menu);
                color: var(--dark);
                cursor: pointer;
                z-index: 9;
            }
        }
        border-top: 1px solid var(--s-l-grey);
        padding: 24px;
        flex-grow: 1;
        &--title{
            max-width: 186px;
            margin-bottom: 8px;
        }
        &--batch{
            font-size: 14px;
            line-height: 20px;
            color: var(--grey);
            margin-bottom: 24px;
        }
        &--feature{
            margin-bottom: 24px;
            ul {
                li {
                    position: relative;
                    font-size: 14px;
                    padding-left: 15px;
                    color: var(--dark-grey);

                    &::before {
                        position: absolute;
                        content: '';
                        height: 100%;
                        width: 3px;
                        background-color: var(--bg-menu);
                        border-radius: 4px;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        &--garanted{
            padding: 8px 16px;
            background-color: var(--s-l-grey);
            margin-bottom: 24px;
            display: flex;
            gap: 10px;
            align-items: center;
            p{
                font-size: 14px;
                font-weight: 600;
                max-width: 246px;
            }
        }
        &--contact{
            position: relative;
            padding-left: 15px;
            &::before{
                position: absolute;
                content: '';
                height: 100%;
                width: 3px;
                background-color: var(--primary);
                border-radius: 4px;
                top: 0;
                left: 0;
            }
        }
    }
    &__book{
        width: 200px;
        background-color: var(--dark);
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        &--label{
            padding: 12px;
            background-color: rgba(255, 255, 255, 0.08);
            border-radius: 12px;
            border-top-left-radius: 0;
            margin-bottom: 12px;
            img{
                display: block;
                margin: 12px auto 0;
                max-width: 87px;
            }
        }
        &--header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        }
        &--title{
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: var(--white);
            & > span {
                font-size: 13px;
                color: var(--grey);
            }
        }
        &--rating {
            font-size: 16px;
            font-weight: 600;
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: var(--primary);
            border-radius: 20px;
            border-bottom-left-radius: 0;
        }
        &--price{
            margin-top: auto;
            padding: 0 12px;
            span{
                color: var(--primary);
                margin-bottom: 8px;
            }
        }
        &--cost{
            font-size: 40px;
            font-weight: 600;
            color: var(--white);
        }
        &--btn{
            margin-top: 24px;
        }
    }
}
.car{
    padding-top: 35px;
    margin-bottom: 64px;
    &__wrapper{
        &--title{
            margin-bottom: 24px;
            span {
                display: inline-block;
                font-size: 24px;
                color: var(--grey);
                margin-top: 8px;
            }
        }
    }
    .car-top{
        &__top{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;
            gap: 16px;
            &--galery{
                flex-grow: 1;
                width: calc(75% - 12px);
            }
            &--info{
                width: calc(25% - 12px);
                min-width: 270px;
                &.top-info {
                    position: relative;

                }
            }
            .top-info {
                position: relative;
                transform-style: preserve-3d;
                &__contact{
                    position: absolute;
                    font-size: 16px;
                    color: var(--white);
                    width: 100%;
                    padding: 12px 0 28px;
                    text-align: center;
                    left: 0;
                    top: -44px;
                    background-color: var(--primary);
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                    transform:  translate3d(0, 0, -2px);
                    a {
                        position: relative;
                        text-decoration: underline;
                        z-index: 2;
                    }
                }
                &__price{
                    background-color: #141414;
                    border-radius: 16px;
                    padding: 12px;
                    width: 100%;
                    height: calc(67.3% - 12px);
                    max-height: 438px;
                    .label{
                        padding: 12px;
                        padding-right:  clamp(0.75rem, calc(-2.48rem + 4.85vw), 1.38rem);
                        background-color: rgba(255, 255, 255, 0.08);
                        border-radius: 12px;
                        margin-bottom: 12px;
                        &__header{
                            padding-bottom: 18px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
                            display: flex;
                            justify-content: space-between;
                            gap: 20px;
                            &--raiting{
                                font-size: 16px;
                                font-weight: 600;
                                color: var(--white);
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 40px;
                                height: 40px;
                                background-color: var(--primary);
                                border-radius: 20px;
                                border-bottom-left-radius: 0;
                            }
                        }
                        &__img{
                            display: flex;
                            justify-content: center;
                            margin: 24px auto 16px;
                        }
                    }
                }
                &__data{
                    height: 211px;
                    margin-top: 16px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, calc(50% - 6px));
                    gap: 12px;
                    &--item{
                        background-color: var(--s-l-grey);
                        border-radius: 16px;
                    }
                    .data-item{
                        padding: 28px clamp(1rem, calc(-1.58rem + 3.88vw), 1.5rem);
                        
                        &__text {
                            color: var(--grey);
                            font-size: clamp(0.75rem, calc(-0.22rem + 1.46vw), 0.94rem);
                            font-weight: 500;
                            margin-bottom: 6px;
                        }
                        &__value{
                            font-size: clamp(1rem, calc(-0.94rem + 2.91vw), 1.38rem);
                            font-weight: 600;
                        }
                    }
                }
            }
            .top-galery{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 211px);
                gap: 16px;
                &__item{
                    width: 100%;
                    border-radius: 16px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:nth-child(1){
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--s-l-grey);
                        img{
                            max-width: 90%;
                            object-fit: contain;
                        }
                    }
                    &:last-child {
                        position: relative;
                        &::before{
                            position: absolute;
                            content: '+15 фотографий';
                            color: var(--white);
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.5);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: clamp(1rem, calc(0.58rem + 1.54vw), 1.5rem);
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
            .top-info{
                &__price{
                    .car-card__book--title{
                        margin-top: 6px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        i {
                            top: 50%;
                            width: 2px;
                            height: 2px;
                            border-radius: 50%;
                            background-color: #D9D9D9;
                        }
                        span {
                            margin-bottom: -1px;
                        }
                    }
                }
                &__price{
                    &--from{
                        padding: 0 12px;
                        text-align: right;
                        color: var(--white);
                        margin-top: 32px;
                        span{
                            font-size: 16px;
                            text-transform: uppercase;
                        }
                        p{
                            font-size: 30px;
                            font-weight: 600;
                            line-height: 48px;
                        }
                    }
                    &--total {
                        font-size: 20px;
                        font-weight: 600;
                        color: #D4D4D4;
                        line-height: 48px;
                    }
                    .main-btn {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .car-line{
        padding: clamp(0.5rem, calc(-1.75rem + 3.75vw), 1.25rem) clamp(0.63rem, calc(-5rem + 9.38vw), 2.5rem);
        background-color: var(--s-l-grey);
        border-radius: 16px;
        margin-top: 33px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        &__wrapper{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        &__item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 clamp(0.75rem, calc(-4.5rem + 8.75vw), 2.5rem);
            &--data{
                font-size: 14px;
                line-height: 100%;
                color: var(--grey);
                text-wrap: nowrap;
            }
            &--value{
                line-height: 100%;
                font-weight: 600;
                margin-top: 8px;
                text-wrap: nowrap;

            }
            line-height: 100%;
        }
        &__item:first-child{
            padding-left: 0;
        }
        &__item:last-child{
            padding-right: 0;
        }
        &__item:not(:first-child){
            border-left: 1px solid var(--grey);
        }
    }
    .car-boxes{
        margin-top: 36px;
        padding-bottom: 42px;
        // border-bottom: 1px solid #c3c3c3;
        &__wrapper{
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
        }
        &__item{
            border-radius: 16px;
            padding: 16px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--light-dark);
            color: var(--white);
            width: calc((100% / 6) - (5 * 16px / 6));
            svg path {
                fill: var(--s-l-grey);
            }
            &:nth-child(2n + 2) {
                background-color: var(--s-l-grey);
                color: var(--dark);
                svg path {
                    fill: var(--light-dark);
                }
            }
        }
    }
    .car-content{
        p{
            font-size: 18px;
            line-height: 140%;
            color: var(--grey);
            margin-bottom: 24px;
        }
        &__wrapper{
            padding-top: 64px;
            border-top: 1px solid #c7c7c7;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 32px;
        }
        &__info{
            &--list{
                padding: 24px;
                border-radius: 16px;
                border: 1px solid var(--bg-menu);
                margin-bottom: 24px;

            }
        }
        &__faq{
            &--accordion{
                .accordion {
                    &__item{
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}
.accordion{
    &__item{
        &--control{
            width: 100%;
            padding: 24px;
            background-color: var(--s-l-grey);
            border-radius: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }
        &--icon{
            font-size: 32px;
            font-weight: 400;
        }
        &--content{
            padding: 0 24px;
            color: var(--grey);
            line-height: 140%;
            font-size: 18px;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s;
        }
    }
}
.open .accordion__item--content{
    max-height: max-content;
    padding: 24px;
}
.content-title{
    span{
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        color: var(--dark-grey);
    }
    h2{
        margin-bottom: 24px;
    }
}
// =====================================
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 76px;
    overflow: hidden;
    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 76px;
    }
    &__logo{
        display: flex;
        width: 147px;
        a{
            margin-right: auto;
        }
    }
    nav{
        position: relative;
        height: 100%;
        z-index: 99;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: -119px;
            width: 120px;
            height: 76px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../svg/left-menu.svg);
        }
        &::before{
            position: absolute;
            content: '';
            top: 0;
            right: -119px;
            width: 120px;
            height: 76px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../svg/right-menu.svg);
        }

    }
    &__menu{
        height: 76px;
        background-color: var(--bg-menu);
        font-size: 14px;
        letter-spacing: -0.04rem;
        color: var(--dark);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
        padding: 0 50px;

    }
    &__sign-up{
        display: flex;
        width: 147px;
      a{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: var(--white);
        padding: 8px 16px;
        border: 1px solid var(--white);
        border-radius: 24px;
        backdrop-filter: blur(0);
        transition: all 0.3s;
        margin-left: auto;
        &:hover {
            backdrop-filter: blur(4px);
        }
    }   
    }
}
.hero{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 428px;
    padding-top: 140px;
    h1{
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
        background-image: linear-gradient(to right, #fff, #BFBFBF 56%);
    }
    &__wrapper{
        margin-top: auto;
    }
    &__form{
        width: 100%;
        padding: 40px;
        border-radius: 32px;
        background-color: rgba($color: #141414, $alpha: 0.8);
        margin-top: 32px;
        form{
            display: flex;
            justify-content: space-between;
            gap: 12px;
        }
        &--input{
            position: relative;
            display: inline-block;
            line-height: 24px;
            label {
                position: absolute;
                left: 52px;
                top: 8px;
                color: var(--grey);
                z-index: 2;
            }
            .clear-button{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                z-index: 3;
                cursor: pointer;
            }
            span{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 16px;
                z-index: 2;
            }
        }
        input{
            position: relative;
            padding: 34px 12px 10px 52px;
            height: 64px;
            border-radius: 16px;
            background-color: #252525;
            font-size: 16px;
            font-weight: 600;
            line-height: 100%;
            color: var(--white);
            border: none;

            &::placeholder{
                color: var(--white);
            }
            &#location{
                position: relative;
                width: 100%;
            }
        }
        &--location{
            position: relative;
            max-width: 478px;
            min-width: 266px;
            width: 100%;
            &::after{
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../svg/LocationIcon.svg);
                z-index: 1;
            }
        }
        &--date{
            display: flex;
        }
        &--start{
            display: flex;
        }
    }
}

.content{
    margin-top: 32px;
    padding-bottom: 64px;
    
    aside {
        display: inline-block;
        max-width: 411px;
        flex-grow: 1;
        width: 47%;
        min-width: 300px;
    }
    &__wrapper{
        display: flex;
        gap: 24px;
        .cars{
            flex-basis: 100%;
            max-width: 845px;
            &__header{
                display: flex;
                justify-content: space-between;
                padding: 14px 0 14px 24px;
                margin-bottom: 16px;
                &--filter{
                    padding: 4px 24px;
                    border: 1px solid var(--bg-menu);
                    border-radius: 20px;
                    cursor: pointer;
                    display: none;
                }
            }
        }
    }
}

.footer{
    position: relative;
    span{
        position: relative;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.08);
        margin: 0 auto;
        &::before{
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.08);
            left: -14px;
            top: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.08);
            right: -14px;
            top: 0;
        }
    }
    background-color: var(--dark);
    color: var(--grey);
    padding: 96px 0 32px;
    &__logo{
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        padding: 9px 40px 22px;
        background-color: var(--white);
        height: 56px;
        &::before{
            content: '';
            position: absolute;
            height: 56px;
            width: 134px;
            background-image: url(../svg/left-footer.svg);
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            left: -134px;
        }
        &::after{
            content: '';
            position: absolute;
            height: 56px;
            width: 134px;
            background-image: url(../svg/right-footer.svg);
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            right: -134px;
        }
    }
    &__wrapper{
        position: relative;
    }
    &__nav {
        margin-bottom: 28px;
        ul {
            display: flex;
            justify-content: center;
            gap: 50px;
        }
    }
    &__copy{
        text-align: center;
        margin-top: 28px;
    }
}
@media (max-width:1200px){
    .footer__nav ul {
        display: block;
        margin: auto;
        width: max-content;
        columns: 2;
        li{
            margin-bottom: 24px;
        }
    }
}

@media (max-width:1064px) {
    .hero {
        padding-top: 120px;
        padding-bottom: 20px;
        &__form{
            padding: 32px;
            margin-top: 20px;
        form{
            flex-direction: column;
            align-items: center;
            }
        }
    }
    input[type="submit"]{
        width: 266px;
    }
    .car-card{
        position: relative;
    }
    .car-card__img{
        position: relative;
        width: 100%;
        align-items: end;
        & > img {
            height: 137px;
        }
    }
    .car-card__book {
        width: 40%;
        min-width: 186px;
    }
    .car-card__info {
        position: absolute;
        display: block;
        &--characteristic {
            display: none;
            &.open{
                display: block;
                position: absolute;
                background-color: var(--s-l-grey);
                padding: 24px;
                border: 1px solid var(--grey);
                border-radius: 12px;
                top: 38px;
                right: 12px;
            }
        }
        &--top {
            position: absolute;
            right: 24px;
            span{
                &.open-info{
                    display: block;
                }
            }
        }
    }
}
@media (max-width:924px){
    .btn-open{
        display: block;
    }
    .header{
        overflow: visible;
        nav::after{
            z-index: -1;
        }
        &__menu{
            position: absolute;
            top: 0;
            opacity: 0;
            pointer-events: none;
            flex-direction: column;
            gap: 32px;
            align-items: center;
            padding: 80px 40px 40px;
            height: max-content;
            width: 280px;
            left: 50%;
            transform: translate(-50%, -50%);
            border-bottom-left-radius: 32px;
            border-bottom-right-radius: 32px;
            transition: all 0.3s;
            z-index: 998;
            &.open{
                pointer-events: visible;
               transform: translate(-50%, 0);
               opacity: 1;
            }
        }
    }
    .car .car-line__wrapper{
        justify-content: space-between;
    }
    .car .car-top__top .top-galery{ 
        grid-template-columns: repeat(2, 1fr);
    }
    .top-galery__item:not(:nth-child(-n+2)){
        display: none;
    }
    .top-galery__item:last-child{
        display: block;
    }
    .car .car-line__item:last-child{
        padding-right: clamp(0.75rem, calc(-4.5rem + 8.75vw), 2.5rem);
    }
}
@media (max-width:870px) {
    .filter{
        border-radius: 0;
    }
    .content aside {
        display: none;
        &.open{
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            pointer-events: auto;
            overflow-y: auto;
            z-index: 99;
            opacity: 1;
        }
    }
    .content__wrapper .cars__header{
        flex-wrap: wrap;
        gap: 14px;
    }
    .content__wrapper .cars__header--filter{
        display: inline-block;
        margin-bottom: 14px;
    }
    .car-card__info--garanted {
        max-width: 270px;
    }
}
@media (max-width:670px){
    .car__wrapper--title {
        margin-bottom: 64px;
    }
    .car .car-top__top .top-galery {
        display: flex;
        flex-direction: column;
        &__item{
            margin-bottom: 0;
            height: 211px;
        }
    }
    .top-galery__item:not(:last-child) {
        margin-bottom: 16px;
    }

}
@media (max-width:600px){
    .car-top__top {
    flex-direction: column;
}
.car .car-top__top .top-galery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.car .car-top__top--info {
        width: 100%;
        margin-top: 64px;
    }
    .top-galery__item:not(:nth-child(-n+2)){
        display: block;
    }
    .car .car-top__top .top-galery__item:nth-child(1) {
        height: auto;
    }
    .car .car-top__top .top-galery__item:nth-child(2) {
        display: none;
    }
}
@media (max-width:500px){
    .content__wrapper .cars__header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4 {
            margin-bottom: 12px;
        }
    }
    .car-card {
        flex-direction: column;
        &__book{
            width: 100%;
        }
        &__img{
            padding-top: 140px;
            padding-bottom: 20px;
        }
    }

}
@media (max-width:440px){
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 42px;
    }
    .footer__nav ul{
        columns: 1;
        li:last-child{
            margin-bottom: 0;
        }
    }
    .car .car-top__top .top-galery {
        display: block;
    }
    .car .car-top__top .top-galery__item {
        display: block !important;
        
    }
    .car .car-top__top .top-galery__item:first-child{
        aspect-ratio: 1 / 1;
        width: 100%;
    }
    .car .car-top__top .top-galery__item:not(:last-child){
        margin-bottom: 16px;
    }
}
@media (max-width:394px){
    .car-card{
        &__img{
            padding-top: 172px;
        }
        &__info{
            top: 32px;
            left: 12px;
            right: auto;
            &--top{
                display: flex;
                gap: 12px;
                left: 24px;
                right: auto;
                top: -12px;
            }
        }
    }
}
// * {
//     outline: 1px solid #000;
// }