@charset "UTF-8";
/* Reset */
html {
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeSpeed;
  width: 100%;
  overflow-x: hidden;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

input, input:required {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-box-shadow: inset 0 0 0 30px #fff;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
  outline: none;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:active, a:hover {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img, picture {
  display: inline-block;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  background: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

input[type=checkbox], input[type=radio] {
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  background: transparent;
  border: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

hr {
  background: #000;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  line-height: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

pre {
  font-family: monospace,monospace;
  font-size: 100%;
}

a {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

small, sub, sup {
  font-size: 75%;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  outline: 0;
  padding: 0;
}

legend {
  border: 0;
  color: inherit;
  display: block;
  max-width: 100%;
  white-space: normal;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

template {
  display: none;
}

/* End Reset */
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Heavy.eot");
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"), url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-UltralightItalic.eot");
  src: local("SF Pro Display UltralightItalic"), local("SFProDisplay-UltralightItalic"), url("../fonts/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff"), url("../fonts/SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-RegularItalic.eot");
  src: local("SF Pro Display Regular Italic"), local("SFProDisplay-RegularItalic"), url("../fonts/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff"), url("../fonts/SFProDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("SFProDisplay-Thin"), url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"), url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-BlackItalic.eot");
  src: local("SF Pro Display Black Italic"), local("SFProDisplay-BlackItalic"), url("../fonts/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff"), url("../fonts/SFProDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"), url("../fonts/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-SemiboldItalic.eot");
  src: local("SF Pro Display SemiboldItalic"), local("SFProDisplay-SemiboldItalic"), url("../fonts/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../fonts/SFProDisplay-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Ultralight.eot");
  src: local("SF Pro Display Ultralight"), local("SFProDisplay-Ultralight"), url("../fonts/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-LightItalic.eot");
  src: local("SF Pro Display LightItalic"), local("SFProDisplay-LightItalic"), url("../fonts/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff"), url("../fonts/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-ThinItalic.eot");
  src: local("SF Pro Display ThinItalic"), local("SFProDisplay-ThinItalic"), url("../fonts/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff"), url("../fonts/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-MediumItalic.eot");
  src: local("SF Pro Display MediumItalic"), local("SFProDisplay-MediumItalic"), url("../fonts/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff"), url("../fonts/SFProDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-HeavyItalic.eot");
  src: local("SF Pro Display HeavyItalic"), local("SFProDisplay-HeavyItalic"), url("../fonts/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff"), url("../fonts/SFProDisplay-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-BoldItalic.eot");
  src: local("SF Pro Display BoldItalic"), local("SFProDisplay-BoldItalic"), url("../fonts/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff"), url("../fonts/SFProDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --white: #fff;
  --bg-menu: #DADBDC;
  --primary: #C49D74;
  --dark: #141414;
  --dark-grey: #6A6A6A;
  --grey: #8B8B8B;
  --green: #81C62D;
  --s-l-grey: #F6F6F6;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.02rem;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

select {
  border-color: transparent;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu-btn {
  position: absolute;
  display: block;
  z-index: 999;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.btn-close, .btn-open {
  display: none;
}

.main-btn {
  display: block;
  padding: 8px 16px;
  background-color: var(--white);
  border-radius: 12px;
  text-align: center;
  margin: 0 auto;
}

.custom-select {
  font-size: 14px;
  width: 228px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-select svg {
  width: 14px;
  height: 14px;
  fill: #888;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.custom-select strong {
  font-weight: 600;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 4px;
  width: 100%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown div {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown div:hover {
  background: #f0f0f0;
}

.filter {
  background-color: var(--s-l-grey);
  border-radius: 16px;
  overflow: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.filter__item {
  padding: 16px 24px;
}

.filter__item:not(:last-child) {
  border-bottom: 1px solid #cacaca;
}

.filter__item--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.filter__item--title h5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.filter__item--open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter__item--content {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1px;
  opacity: 0;
  padding-bottom: 0;
  pointer-events: none;
}

.filter__item--brand label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  pointer-events: none;
}

.filter__item--brand label img {
  margin-right: 8px;
}

.filter__item--brand label input {
  margin-right: 12px;
}

.filter__item--brand label:not(:first-child) {
  margin-left: 40px;
  display: none;
}

.filter__item--brand.open > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item.open {
  min-height: 148px;
}

.filter__item.open .filter__item--content {
  opacity: 1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  pointer-events: auto;
}

.filter__item.open .filter__item--open {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__clear input {
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
}

.filter__budget {
  position: relative;
}

.filter__budget .rangeValues {
  margin-bottom: 80px;
}

.filter__budget .range-values {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-grey);
}

.filter__budget input[type=range] {
  position: absolute;
  bottom: 23px;
  left: 24px;
  right: 24px;
}

:is(.open) > * label {
  pointer-events: auto;
}

:is(.open) .filter__item--content {
  margin-top: 16px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  pointer-events: none;
}

.slider-track {
  height: 6px;
  position: absolute;
  bottom: 23px;
  left: 24px;
  right: 24px;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 6px;
}

input[type=range]::-ms-track {
  appearance: none;
  height: 6px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 4px solid var(--primary);
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  pointer-events: auto;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

input[type="date"] {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  max-width: 154px;
}

input[type="date"] span {
  position: absolute;
  left: 0;
}

input[type="time"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #313131 !important;
}

input[type="submit"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 40px !important;
  color: var(--dark) !important;
  background-color: var(--primary) !important;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 10;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 10;
}

input[type="time"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}

label:has(input[type=checkbox]) {
  position: relative;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 12px;
  cursor: pointer;
}

label:has(input[type=checkbox]) span {
  margin-left: auto;
}

label:has(input[type=checkbox])::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background-image: url(../svg/сheckbox.svg);
}

label:has(input[type=checkbox]:checked)::before {
  background-image: url(../svg/сheckbox-checked.svg);
}

label:has(input[type=checkbox]:disabled)::before {
  background-image: url(../svg/сheckbox-disabled.svg);
}

label:has(input[type=checkbox]:checked:disabled)::before {
  background-image: url(../svg/сheckbox-checked-disabled.svg);
}

label:has(input[type=checkbox]:focus)::before {
  -webkit-box-shadow: 0 0 0px 3px var(--primary);
          box-shadow: 0 0 0px 3px var(--primary);
  border-radius: 5px;
}

.car-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
}

.car-card:not(:last-child) {
  margin-bottom: 24px;
}

.car-card__img {
  width: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--s-l-grey);
}

.car-card__info {
  border-top: 1px solid var(--s-l-grey);
  padding: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.car-card__info li img {
  margin-right: 8px;
}

.car-card__info li:not(:last-child) {
  margin-bottom: 16px;
}

.car-card__info--top {
  display: inline-block;
}

.car-card__info--top span {
  display: block;
  padding: 4px 12px;
  margin-bottom: 12px;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 95px;
}

.car-card__info--top span.open-info {
  display: none;
  position: relative;
  background-color: var(--bg-menu);
  color: var(--dark);
  cursor: pointer;
  z-index: 999;
}

.car-card__info--title {
  max-width: 186px;
  margin-bottom: 8px;
}

.car-card__info--batch {
  font-size: 14px;
  line-height: 20px;
  color: var(--grey);
  margin-bottom: 24px;
}

.car-card__info--feature {
  margin-bottom: 24px;
}

.car-card__info--feature ul li {
  position: relative;
  font-size: 14px;
  padding-left: 15px;
  color: var(--dark-grey);
}

.car-card__info--feature ul li::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 3px;
  background-color: var(--bg-menu);
  border-radius: 4px;
  top: 0;
  left: 0;
}

.car-card__info--garanted {
  padding: 8px 16px;
  background-color: var(--s-l-grey);
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-card__info--garanted p {
  font-size: 14px;
  font-weight: 700;
  max-width: 246px;
}

.car-card__info--contact {
  position: relative;
  padding-left: 15px;
}

.car-card__info--contact::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 3px;
  background-color: var(--primary);
  border-radius: 4px;
  top: 0;
  left: 0;
}

.car-card__book {
  width: 200px;
  background-color: var(--dark);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.car-card__book--label {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  border-top-left-radius: 0;
  margin-bottom: 12px;
}

.car-card__book--label img {
  display: block;
  margin: 12px auto 0;
}

.car-card__book--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.car-card__book--title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white);
}

.car-card__book--title > span {
  font-size: 13px;
  color: var(--grey);
}

.car-card__book--rating {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 20px;
  border-bottom-left-radius: 0;
}

.car-card__book--price {
  margin-top: auto;
  padding: 0 12px;
}

.car-card__book--price span {
  color: var(--primary);
  margin-bottom: 8px;
}

.car-card__book--cost {
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
}

.car-card__book--btn {
  margin-top: 24px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 76px;
  overflow: hidden;
}

.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 147px;
}

.header__logo a {
  margin-right: auto;
}

.header nav {
  position: relative;
  height: 100%;
  z-index: 99;
}

.header nav::after {
  position: absolute;
  content: '';
  top: 0;
  left: -119px;
  width: 120px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../svg/left-menu.svg);
}

.header nav::before {
  position: absolute;
  content: '';
  top: 0;
  right: -119px;
  width: 120px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../svg/right-menu.svg);
}

.header__menu {
  height: 76px;
  background-color: var(--bg-menu);
  font-size: 14px;
  letter-spacing: -0.04rem;
  color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
  padding: 0 50px;
}

.header__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 147px;
}

.header__sign-up a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--white);
  padding: 8px 16px;
  border: 1px solid var(--white);
  border-radius: 24px;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: auto;
}

.header__sign-up a:hover {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 428px;
  padding-top: 140px;
}

.hero h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(56%, #BFBFBF));
  background-image: linear-gradient(to right, #fff, #BFBFBF 56%);
}

.hero__wrapper {
  margin-top: auto;
}

.hero__form {
  width: 100%;
  padding: 40px;
  border-radius: 32px;
  background-color: rgba(20, 20, 20, 0.8);
  margin-top: 32px;
}

.hero__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

.hero__form--input {
  position: relative;
  display: inline-block;
  line-height: 24px;
}

.hero__form--input label {
  position: absolute;
  left: 52px;
  top: 8px;
  color: var(--grey);
  z-index: 2;
}

.hero__form--input .clear-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
  z-index: 3;
  cursor: pointer;
}

.hero__form--input span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  z-index: 2;
}

.hero__form input {
  position: relative;
  padding: 34px 12px 10px 52px;
  height: 64px;
  border-radius: 16px;
  background-color: #252525;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: var(--white);
  border: none;
}

.hero__form input::-webkit-input-placeholder {
  color: var(--white);
}

.hero__form input:-ms-input-placeholder {
  color: var(--white);
}

.hero__form input::-ms-input-placeholder {
  color: var(--white);
}

.hero__form input::placeholder {
  color: var(--white);
}

.hero__form input#location {
  position: relative;
  width: 100%;
}

.hero__form--location {
  position: relative;
  max-width: 478px;
  min-width: 266px;
  width: 100%;
}

.hero__form--location::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../svg/LocationIcon.svg);
  z-index: 1;
}

.hero__form--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__form--start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  margin-top: 32px;
  padding-bottom: 64px;
}

.content aside {
  display: inline-block;
  max-width: 411px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 47%;
  min-width: 300px;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.content__wrapper .cars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 845px;
}

.content__wrapper .cars__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0 14px 24px;
  margin-bottom: 16px;
}

.content__wrapper .cars__header--filter {
  padding: 4px 24px;
  border: 1px solid var(--bg-menu);
  border-radius: 20px;
  cursor: pointer;
  display: none;
}

.footer {
  position: relative;
  background-color: var(--dark);
  color: var(--grey);
  padding: 96px 0 32px;
}

.footer span {
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  margin: 0 auto;
}

.footer span::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  left: -14px;
  top: 0;
}

.footer span::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  right: -14px;
  top: 0;
}

.footer__logo {
  position: absolute;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 9px 40px 22px;
  background-color: var(--white);
  height: 56px;
}

.footer__logo::before {
  content: '';
  position: absolute;
  height: 56px;
  width: 134px;
  background-image: url(../svg/left-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: -134px;
}

.footer__logo::after {
  content: '';
  position: absolute;
  height: 56px;
  width: 134px;
  background-image: url(../svg/right-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: -134px;
}

.footer__wrapper {
  position: relative;
}

.footer__nav {
  margin-bottom: 28px;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.footer__copy {
  text-align: center;
  margin-top: 28px;
}

@media (max-width: 1200px) {
  .footer__nav ul {
    display: block;
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-columns: 2;
            columns: 2;
  }
  .footer__nav ul li {
    margin-bottom: 24px;
  }
}

@media (max-width: 1064px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .hero__form {
    padding: 32px;
    margin-top: 20px;
  }
  .hero__form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  input[type="submit"] {
    width: 266px;
  }
  .car-card {
    position: relative;
  }
  .car-card__img {
    position: relative;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .car-card__img > img {
    height: 137px;
  }
  .car-card__book {
    width: 40%;
    min-width: 186px;
  }
  .car-card__info {
    position: absolute;
    display: block;
  }
  .car-card__info--characteristic {
    display: none;
  }
  .car-card__info--characteristic.open {
    display: block;
    position: absolute;
    background-color: var(--s-l-grey);
    padding: 24px;
    border: 1px solid var(--grey);
    border-radius: 12px;
    top: 4px;
    left: 4px;
  }
  .car-card__info--top {
    position: absolute;
    right: 24px;
  }
  .car-card__info--top span.open-info {
    display: block;
  }
}

@media (max-width: 924px) {
  .btn-open {
    display: block;
  }
  .header {
    overflow: visible;
  }
  .header nav::after {
    z-index: -1;
  }
  .header__menu {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 40px 40px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 280px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 998;
  }
  .header__menu.open {
    pointer-events: visible;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

@media (max-width: 870px) {
  .filter {
    border-radius: 0;
  }
  .content aside {
    display: none;
  }
  .content aside.open {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
    overflow-y: scroll;
    z-index: 99;
    opacity: 1;
  }
  .content__wrapper .cars__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 14px;
  }
  .content__wrapper .cars__header--filter {
    display: inline-block;
    margin-bottom: 14px;
  }
  .car-card__info--garanted {
    max-width: 270px;
  }
}

@media (max-width: 500px) {
  .content__wrapper .cars__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__wrapper .cars__header h4 {
    margin-bottom: 12px;
  }
  .car-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .car-card__book {
    width: 100%;
  }
  .car-card__img {
    padding-top: 140px;
    padding-bottom: 20px;
  }
}

@media (max-width: 440px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 42px;
  }
  .footer__nav ul {
    -webkit-columns: 1;
            columns: 1;
  }
  .footer__nav ul li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 394px) {
  .car-card__img {
    padding-top: 172px;
  }
  .car-card__info {
    top: 32px;
  }
  .car-card__info--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    left: 24px;
    right: auto;
    top: -12px;
  }
}
/*# sourceMappingURL=style.css.map */